# Python (весь мусор и кэш)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.DS_Store

# База данных (у каждого разработчика она должна быть своя!)
db.sqlite3
staticfiles/

# Виртуальное окружение
.venv/
venv/
.env
env/

# Настройки редакторов (VS Code, PyCharm)
.vscode/
.idea/

# Медиа файлы и статика (картинки юзеров в Git не хранят)
media/

