# Скопируй этот файл в .env и заполни своими значениями:
# cp .env.example .env


SECRET_KEY=your-secret-key-here
API_KEY = 'YOUR_API_KEY_HERE'
# Секретный код для регистрации куратора.
# Сообщи его только тем, кто должен регистрироваться куратором.
CURATOR_REGISTRATION_CODE=your-curator-code-here
